<!DOCTYPE html>
<html lang="en">
<head>
    <title>Friend Finder</title>
    <meta property="og:description" content="The best site ever for finding new friends on the internet!" />
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="static/media/favicon.ico">
	
	 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
	 
	  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
	 
	 <link rel='stylesheet' href='static/style/index.css' />
	 
</head>
<body>
	<header>
		<div class="container">
			<div id="connection">
				<h2>Connected from:</h2>
				<h3 id="ip">{{ ip }}</h3>
			</div>
			<div id="brand">
				<h1>Friend Finder Map</h1>
				<p>The best site ever for finding new friends on the internet!</p>
			</div>
			<img id="photo"></img>
			<script src="static/scripts/index.js"></script>
		</div>
	</header>
	<div id="map"></div>
	<script src="static/scripts/map.js"></script>
	<footer>
		<p>Swedish Quality Since 2025 &#127480&#127466</p>
	</footer>
</body>
</html>