<!DOCTYPE 	HTML>
<html>

<head>
    <title>Potential friend!</title>
    <meta property="og:description" content="The best site ever for finding new friends on the internet!" />
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="static/media/favicon.ico">

	<link rel='stylesheet' href='/static/style/all.css' />
	<link rel='stylesheet' href='/static/style/user.css' />
	
	<script src="/static/scripts/map.js"></script>

</head>

<body>
	
	{% if alias %}
		<h1>{{ alias }}</h1>
	{% endif %}
	
	<p id="id">{{ user_id }}</p>
	
	<form action="/like/submit/{{ user_id }}" method="post" enctype="multipart/form-data">
		<input type="submit" value="Like" />
	</form>
	
	<img src={{ pfp_path }} alt="Din webbläsare suger!" />
	
</body>

</html>